{% extends "base.html.twig" %}
	{% block title %}{{ parent() }}{% endblock %}
    {% block nav %}
		<li class="active"><a href="/">Home</a></li>
		<li><a href="/location">Itinéraire Musée</a></li>
		<li><a href="/contact">Contacter</a></li>
    {% endblock %}
{% block body %}
    {% for message in app.flashes('notice') %}
		<div class="alert alert-info  alert-dismissible" role="alert" style="position: absolute; top:30px">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {{message}}
		</div>
    {% endfor %}

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<div class="col-lg-4 col-lg-offset-1">
						<h4>Musée du</h4>
					</div>
					<h1>LOUVRE</h1>
					<h4>le plus grand musée d'art et d'antiquités au monde</h4>
				</div>
			</div><! --/row -->
		</div> <!-- /container -->
	</div><! --/headerwrap -->

    <div class="container">
        <div class="row centered mt mb">
            <div class="col-xs-10 col-lg-6 col-md-6 col-sm-6 col-xs-offset-1 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 gallery">
                <h1 id="titre">Réservez votre découverte</h1>
                {{ form(form) }}
                <a href="#" id="add_ticket" class="btn btn-success">Ajouter un billet</a>
            </div>
        </div>
    </div><! --/container -->
	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('js/addCustomer.js') }}"></script>
	<script src="{{ asset('js/jquery.ui.datepicker-fr.js') }}"></script>
	<script src="{{ asset('js/index.js') }}"></script>
	<script>
        $(document).ready(function() {
            //Vérification des jours à plus de 1000 réservations
            $('#booking').on("mousedown", ".date", function () {
                datePicker('{{ disableDate | json_encode() }}');
            });
        });
	</script>
{% endblock %}
