<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h2>Musée du Louvre</h2>

<h3>Votre réservation est validée !</h3>

<p>Nous avons bien enregistré votre réservation du {{ booking.registrationDate|date('d/m/Y') }}</p>

<p>Voici votre/vos billet/s</p>

<div>
    {% for customer in booking.customer %}
        <p>-----------------------------------------------------------</p>
        <img src=https://media.glassdoor.com/sql/681218/mus%C3%A9e-du-louvre-squarelogo-1402486757309.png">
        <p><strong>Code : </strong>{{ customer.id }}</p>
        <p><strong>Date :</strong> {{ booking.registrationDate|date('d/m/Y') }}</p>
        <p><strong>Nom :</strong> {{ customer.name }} <strong>Prénom :</strong> {{ customer.firstName }}</p>
        <p><strong>Billet :</strong> {{ customer.ticket }}</p>
        {% if customer.reduced == true %}
            <p>Avec réduction (présentez justificatif) </p>
        {% endif %}
        <p><strong>Tarif :</strong> {{ customer.price }} €</p>
        <p>------------------------------------------------------------</p>
    {% endfor %}

</div>
</body>
</html>